---
layout: default
title: Home
---

{% if page.url == "/" %}

<!-- Your Intro Section
================================================== -->
<section class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="intro-content" style="text-align: justify;">
                    <h2>Welcome to My Space!</h2>
                    <p>Hi! I'm Valeria, a rising sophomore at Stanford University, pursuing my passion for chemical engineering and deeply committed to advancing the global energy transition. Originally from Bolivia, a country close to my heart, I've witnessed firsthand how energy dynamics shape economies, particularly in developing nations still reliant on traditional fossil fuels.</p>
                    <p>My journey into STEM began with a profound love for mathematics, culminating in representing my country on international platforms. This experience not only challenged me but also ignited a passion for advocating access to quality education and narrowing the gender gap in STEM fields, where I often found myself as a minority.</p>
                    <p>Beyond academics, I find joy in exploring diverse interests. Whether I'm immersed in books, indulging in classic movies and music, mastering the art of cooking Bolivian dishes, or capturing nature's beauty through hiking and photography, each experience enriches my perspective and fuels my creativity.</p>
                    <p>Join me as I navigate the intersections of science, engineering, sustainability, and personal growth. Together, let's explore pathways towards a more equitable and sustainable future!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>
    <div class="row">

    {% for post in site.posts %} 

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>All Stories</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>
